[submodule "merlin"]
	path = merlin
	url = https://github.com/mjambon/merlin.git
	branch = ocamlgrep
[submodule "ocaml-lsp"]
	path = ocaml-lsp
	url = https://github.com/mjambon/ocaml-lsp.git
	branch = ocamlgrep
[submodule "vscode-ocaml-platform"]
	path = vscode-ocaml-platform
	url = https://github.com/mjambon/vscode-ocaml-platform.git
	branch = ocamlgrep
